<div class="blog-post">
  <h2 class="blog-post-title">
    <% if policy(blog).show? %>
      <%= link_to blog.title, blog %>
    <% else %>
      blog.title
    <% end %>
  </h2>

  <p class="blog-post-meta">Published <%= time_ago_in_words blog.created_at %> ago</p>

  <% if policy(blog).toggle_status? || policy(blog).edit? || policy(blog).destroy? %>
    <div class="mb-4 text-right">
      <% if policy(blog).toggle_status? %>
        <%= link_to "Status: #{blog.status}", toggle_status_blog_path(blog), class: 'btn btn-secondary' %>
      <% end %>

      <% if policy(blog).edit? %>
        <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-primary' %>
      <% end %>

      <% if policy(blog).destroy? %>
        <%= link_to 'Delete Post', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>

  <%= blog.body %>
</div><!-- /.blog-post -->
