<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :topic_id %>
    <%= form.collection_select :topic_id, Topic.all, :id, :title, { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="field form-check form-check-inline">
    <%= form.radio_button :status, 'draft', class: 'form-check-input' %>
    <%= form.label :status_draft, 'Draft', class: 'form-check-label' %>
  </div>

  <div class="field form-check form-check-inline">
    <%= form.radio_button :status, 'published', class: 'form-check-input' %>
    <%= form.label :status_published, 'Published', class: 'form-check-label' %>
  </div>

  <div class="field form-group mt-3">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control', rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
