<div class="container mt-5 mb-5">
  <div class="row">
    <main role="main" class="col-md-8">
      <div>
        <h2><%= @blog.title %></h2>
        <h3 class="h6 text-muted">Topic: <%= @blog.topic.title %></h3>

        <% if policy(@blog).edit? || policy(@blog).destroy? %>
          <div class="my-3">
            <div class="btn-group">
              <% if policy(@blog).edit? %>
                  <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-primary btn-sm' %>
              <% end %>

              <% if policy(@blog).destroy? %>
                <%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= @blog.body %>
      </div>

      <% if policy(@comment).show? %>
        <hr>

        <%= render 'comments', blog: @blog, comment: @comment %>
      <% end %>
    </main>

    <%= render 'sidebar' %>
  </div>
</div>
