<div class="container mt-5 mb-5">
  <div class="row">
    <main role="main" class="col-md-8">
      <div>
        <h2 class="mb-4"><%= @blog.title %></h2>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
            <li class="breadcrumb-item"><%= link_to 'Blog', blogs_path %></li>
            <li class="breadcrumb-item"><%= link_to @blog.topic.title, topic_path(@blog.topic) %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= @blog.title %></li>
          </ol>
        </nav>

        <%= render 'actions', blog: @blog %>

        <%= @blog.body %>
      </div>

      <% if policy(@comment).show? %>
        <hr>

        <%= render 'comments', blog: @blog, comment: @comment %>
      <% end %>
    </main>

    <%= render 'sidebar' %>
  </div>
</div>
