<div class="container mt-5 mb-5">
  <div class="row">
    <main role="main" class="col-md-8">
      <div>
        <h2><%= @blog.title %></h2>
        <h3 class="h6 text-muted">Topic: <%= @blog.topic.title %></h3>

        <% if policy(@blog).edit? %>
          <div>
            <%= link_to 'Edit', edit_blog_path(@blog) %>
          </div>
        <% end %>

        <%= @blog.body %>
      </div>

      <% if policy(@comment).show? %>
        <hr>

        <%= render 'comments', blog: @blog, comment: @comment %>
      <% end %>
    </main>

    <%= render 'sidebar' %>
  </div>
</div>
