<main class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= image_tag @portfolio_item.main_image %>
      </div>

      <div class="col">
        <div>
          <h1 class="mb-0"><%= @portfolio_item.title %></h1>
          <h2><small class="text-muted"><%= @portfolio_item.subtitle %></small></h2>

          <p><%= @portfolio_item.body %></p>
        </div>

        <% unless @portfolio_item.technologies.empty? %>
          <hr>

          <div>
            <h2>Technologies Used</h2>

            <% @portfolio_item.technologies.each do |technology| %>
              <p><%= technology.name %></p>
            <% end %>
          </div>
        <% end %>

        <hr>

        <div>
          <%= link_to 'View all portfolio items', portfolios_path %>
        </div>
      </div>
    </div>
  </div>
</main>
