<main class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% if @portfolio_item.thumb_image.attached? %>
        <div class="col-md border">
          <%= image_tag @portfolio_item.main_image.variant(resize_to_limit: [600, 400]), alt: @portfolio_item.title, class: 'img-fluid' %>
        </div>
      <% end %>

      <div class="col-md">
        <div>
          <h1 class="mb-0"><%= @portfolio_item.title %></h1>
          <h2><small class="text-muted"><%= @portfolio_item.subtitle %></small></h2>

          <div class="btn-group">
            <% if policy(@portfolio_item).edit? %>
              <%= link_to 'Edit', edit_portfolio_path(@portfolio_item), class: 'btn btn-sm btn-outline-secondary' %>
            <% end %>

            <% if policy(@portfolio_item).destroy? %>
              <%= link_to 'Delete', @portfolio_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-secondary' %>
            <% end %>
          </div>

          <p><%= @portfolio_item.body %></p>
        </div>

        <% unless @portfolio_item.technologies.empty? %>
          <hr>

          <div>
            <h2>Technologies Used</h2>

            <% @portfolio_item.technologies.each do |technology| %>
              <p><%= technology.name %></p>
            <% end %>
          </div>
        <% end %>

        <hr>

        <div>
          <%= link_to 'View all portfolio items', portfolios_path %>
        </div>
      </div>
    </div>
  </div>
</main>
