<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head', layout_name: 'application' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">MibraDev</h3>

          <nav class="nav nav-masthead justify-content-center">
            <%= render 'shared/navbar', html_class: 'nav-link' %>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <%= render 'shared/alerts' %>

        <%= yield %>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <%= render 'shared/utm_source' %>
          <%= render 'shared/copyright' %>
        </div>
      </footer>
    </div>
  </body>
</html>
