<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="<%= @page[:keywords] %>">

    <title><%= @page[:title] %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= render 'shared/nav', position: 'bottom' %>
    <%= login_helper %>
    <%= yield %>
    <%= utm_source_helper %>
  </body>
</html>
