<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head', layout_name: 'portfolios' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= render 'shared/nav', position: 'top' %>
    <%= login_helper %>
    <%= yield %>
    <%= utm_source_helper %>
  </body>
</html>
